<?xml version="1.0" encoding="UTF-8" ?>

<objects>
    <config>
        <elem name = "newsPerPage">4</elem>
    </config>
    <class name = "DBReader">
        <instance inst = "MySqlReader">
            <arg>localhost</arg>
            <arg>news</arg>
            <arg>user</arg>
            <arg>password</arg>
        </instance>
    </class>
</objects>