
:root
{
    --default-margin-left: 10vw;
    --default-margin-right: 10vw;
    --default-button-border: 2px solid #841844;
}

body
{
    margin:0;
    padding:0;
    scrollbar-width: none;

    font-family: 'Open Sans', sans-serif;
}
body::-webkit-scrollbar
{
    display: none;
}

h1
{
    font-size: 3.3vw;
    font-weight: 600;
}
h2
{
    font-size: 3.3vw;
    font-weight: 600;
}
h3
{
    font-size: 1.7vw;
    font-weight: 600;
}

.work-area
{
    margin-left: var(--default-margin-left);
    margin-right: var(--default-margin-right);
}

.line
{
    height: 1px;
    border-bottom: 1px solid #818388;
    margin-left: calc(0px - var(--default-margin-left));
    margin-right: calc(0px - var(--default-margin-right));
}

header
{
    height: 8vw;
    display: flex;
    align-items: center;
    color: #2C145E;
    font-size: 1.5vw;
    font-weight: 500;
    letter-spacing: 0.1vw;
}
.header-text
{
    margin-left: 1.3vw;
}
.header img
{
    height: 3.5vw;
}

.banner
{
    display: flex;
    align-items: center;
    height: 34vw;
    overflow: hidden;
    margin-left: calc(0px - var(--default-margin-left));
    margin-right: calc(0px - var(--default-margin-right));
}
.banner img
{
    width: 100%;
    height: auto;
}
.banner-text
{
    color: white;
    position: absolute;
    margin-left: var(--default-margin-left);
    margin-right: var(--default-margin-right);
    font-size: 1.7vw;
    font-weight: 350;
}

.news-list
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
}

.news
{
    display: grid;
    grid-template-rows: 3fr auto;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: black;
    border: none;
    background-color: white;
    text-align: left;
}
.news:hover .more
{
    background-color: #841844;
    color: white;
}
.news:hover h3
{
    color: #841844;
}
.announce
{
    font-size: 1.1vw;
}
.date
{
    width: 5.5vw;
    height: 1.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10vw;
    background-color: #ECF2F5;
    color: #86898f;
    font-size: 0.8vw;
    font-weight: 100;
}
.more-block
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.more
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10vw;
    border: var(--default-button-border);
    width: 10vw;
    height: 2.4vw;
    font-size: 0.8vw;
    font-weight: 600;    
    color: #841844;
}

.navigation
{
    display: flex;
    justify-content: flex-end;
    margin-top: 5vw;
    flex-wrap: wrap;
    gap: 0.8vw;
}
.navigation-num, 
.navigation-current, 
.navigation-arrow, 
.back
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #841844;
    background-color: white;
    border: var(--default-button-border);
    border-radius: 5vw;
    width: 2.6vw;
    height: 2.6vw;
    font-size: 1vw;
}
.navigation-current
{
    background-color: #841844;
    color: white;
}
.navigation-arrow
{
    width: 5.2vw;
}
.navigation-arrow:hover, 
.navigation-num:hover,
.back:hover
{
    background-color: #841844;
    color: white;
}

.content
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
    margin-top: 2vw;
    font-weight: 500;
    font-size: 1vw;
}
.content-right
{
    display: flex;
}
.content-left
{
    
}

.content-image
{
    display: flex;
    width: 100%;
    height: 25vw;
    min-width: 100%;
    max-height: 100%;
}
.content-image img
{
    display: flex;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
.content-text
{
    width: 100%;
    display: block;
}
.content-announce
{
    color: #841844;
    margin-block-start: 0;
}
.content-announce p
{
    margin-block-start: 0;
    margin-block-end: 0;
}

.news-path
{
    margin-top: 4vw;
    font-size: 0.9vw;
    font-weight: 300;
}
.news-path a
{
    color: black;
    text-decoration: none;
    font-weight: 400;
}
.current-news
{
    display: inline;
    color:#818388
}

.back
{
    width: 14vw;
    font-size: 0.9vw;
    font-weight: 600;
    margin-top: 3vw;
}

.footer
{
    display: flex;
    align-items: center;
    margin-top: 8vw;
    height: 8vw;
    font-size: 1vw;
    font-weight: 600;
    border-top: 1px solid #818388;
}


/*Стрелка .navigation-arrow*/
.navigation-arrow:hover div, 
.navigation-arrow:hover div::after, 
.navigation-arrow:hover div::before
{
    background-color: white;
}
.navigation-arrow div
{
    background-color:#841844;
    width: 1vw;
    height: 0.1vw;
    border-radius: 5vw;
}
.navigation-arrow div::after, 
.navigation-arrow div::before
{
    position: absolute;
    content: '';
    background-color: #841844;
    width: 0.5vw;
    height: 0.15vw;
    margin-left: 0.49vw;

    margin-top: 0.18vw;
    transform: rotate(-45deg);
}
.navigation-arrow div::before
{
    transform: rotate(45deg);
    margin-top: -0.25vw;
}

/*Стрелка .more-arrow*/
.news:hover .more-arrow div, 
.news:hover .more-arrow div::after, 
.news:hover .more-arrow div::before
{
    background-color: white;
}
.more-arrow
{
    margin-left: 0.3vw;
}
.more-arrow div
{
    background-color: #841844;
    width: 1.5vw;
    height: 0.15vw;
    border-radius: 5vw;
}
.more-arrow div::after, 
.more-arrow div::before
{
    position: absolute;
    content: '';
    background-color: #841844;
    width: 0.5vw;
    height: 0.15vw;
    transform: rotate(45deg);
    margin-top: -0.15vw;
    margin-left: 1.1vw;
}
.more-arrow div::before
{
    margin-top: 0.15vw;
    transform: rotate(-45deg);
}

/*Стрелка .back-arrow*/
.back:hover .back-arrow div, 
.back:hover .back-arrow div::after, 
.back:hover .back-arrow div::before
{
    background-color: white;
}
.back-arrow
{
    margin-right: 0.3vw;
}
.back-arrow div
{
    background-color: #841844;
    width: 1.5vw;
    height: 0.15vw;
    border-radius: 5vw;
}
.back-arrow div::after, 
.back-arrow div::before
{
    position: absolute;
    content: '';
    background-color: #841844;
    width: 0.5vw;
    height: 0.15vw;
    transform: rotate(45deg);
    margin-top: 0.15vw;
    margin-left: -0.1vw;
}
.back-arrow div::before
{
    margin-top: -0.15vw;
    transform: rotate(-45deg);
}
