
body 
{
    margin:0;
    padding:0;
    scrollbar-width: none;
}
body::-webkit-scrollbar
{
    display: none;
}

h1
{
    font-size: 3.3vw;
}

.work-area
{
    margin-left: 10vw;
    margin-right: 10vw;
    
    font-family: 'Open Sans', sans-serif;
}

header
{
    height: 16%;
    display: flex;
    align-items: center;
}
.header img
{
    height: 43%;
}
.header text
{
    margin-left: 1vw;
    color: #2C145E;
    font-size: 1.3vw;
    letter-spacing: 0.13vw;
    line-height: 1.25;
}

.banner
{
    display: flex;
    position: relative;
    align-items: center;
    height: 66%;
    overflow: hidden;
}
.banner img
{
    width: 100%;
    height: auto;
}
.banner text
{
    position: absolute;
    color: white;
}

.news-block
{
    font-family: 'Open Sans', sans-serif;
    margin-top: 2.5vw;
}
.news-list
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3%;
    row-gap: 8%;
}

.news
{
    display: flex;
    flex-direction: column;
    min-height: 20vw;
    text-decoration: none;
    color: black;
    border: none;
    background-color: white;
    text-align: left;
    cursor: pointer;
}

.news:hover > .more
{
    background-color: #841844;
    color: white;
}

.news:hover > .title
{
    color: #841844;
}

.title
{
    margin-top: auto;
    font-size: 2vw;
}

.announce-news
{
    margin-top: auto;
    font-size: 1vw;
}

.date
{
    margin-top: auto;
    width: 5.5vw;
    height: 1.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10vw;
    background-color: #ECF2F5;
    color: #86898f;
    font-size: 0.8vw;
}

.more
{
    margin-top: auto;
    width: 10vw;
    height: 2.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30vw;
    border: 1px solid #841844; 
    color: #841844;
    font-size: 0.8vw;
}

.page-num-block
{
    display: flex;
    justify-content:right;
    margin-top: 5vw;
}
.page-num
{
    text-decoration: none;
    color: #841844;
    background-color: white;
    border:1px solid #841844;
    border-radius: 5vw;
    width: 2.5vw;
    height: 2.5vw;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
}
.page-num:hover
{
    background-color: #841844;
    color: white;
}

.footer
{
    margin-top: 5vw;
    margin-bottom: 5vw;

    border-top:1px #2C145E solid;
    font-size: 1vw;
}